

.img1 {

    max-width: 200px;

    height: 60px;

    padding: 0 15px;

    object-fit: cover;

  }

 

.img1:last-of-type {

    padding-left: 0;

  }

 

.inner {

    position: relative;

    width: 100%;

    overflow: hidden;

    height: 5rem;

  }
  .wrapper {
    position: absolute;
    display: flex;
  }

  .section {
    display: flex;
    animation: swipe var(--speed) linear infinite backwards;
  }

  @keyframes swipe {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translate(-100%) ;
    }
  }

@media (max-width:767px){
    .img1 {
        max-width: 40px;
        height: 10px;
        padding: 0 15px;
        object-fit: cover;
  }
}