
.ppr-popup1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 104vw;
  top: 0px;
  left: 0;
  height: 104vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.ppr-popup-content1 {
  position: relative;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.ppr-pop-content-image-container1 {
  height: 450px;
  width: 380px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  margin: 0px;
  background-image: linear-gradient(#166ce7, #5990f7);
}
.ppr-callback-logo1 {
  height: 40%;
  padding: 0px;
  margin: 0px;
  width: 60%;
  display: flex;
  align-self: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.popup-description-container {
  color: white;
}

.ppr-pop-content-content-container1 {
  justify-self: center;
  align-self: center;
  width: 400px;
  display: flex;
  background-color: white;
  padding: 30px;
  padding-top: 10px;
  flex-direction: column;
  justify-content: space-between;
  height: 450px;
}

.ppr-close1 {
  align-self: flex-end;
  font-size: 34px;
  cursor: pointer;
  color: #196ae5;
  margin: 0px;
  padding: 0px;
}

.close-container1 {
  display: flex;
  align-self: flex-end;
}

.popup-heading {
  font-size: 25px;
  font-weight: bold;
}

.popup-mbl-heading {
  display: none;
}

.popup-para {
  font-weight: 10px;
  text-align: center;
}

.ppr-request-call-back1 {
  margin: 15px 0px 0px 15px;
  margin-left: 10%;
  font-size: 26px;
}
.popup-inputcontainer {
  display: flex;
  gap: 4px;
  flex-direction: column;
  padding: 0 10% 0 10%;
  width: 100%;
}
.ppr-popup-label-name1 {
  margin-top: 10px;
  flex-shrink: 1;
  margin-bottom: 0px;
  font-size: 14px;
}
.ppr-popup-input1-container {
  margin-top: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  border-radius: 5px;
  color: #222;
  background-color: #fff;
  padding: 3px 3px 3px 10px;
  gap: 10px;
  width: 100%;
}
.ppr-popup-input1-icon {
  color: #196ae5;
}
.ppr-popup-input1 {
  font-family: "Roboto";
  width: 100%;
  justify-self: self-end;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #c3cad9;
  padding-left: 10px;
}
.ppr-popup-select1 {
  width: 100%;
}
.popup-button1 {
  align-self: flex-end;
  display: inline-block;
  width: max-content;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(to right, #7cb4e4, #1c74d4, #0e39a9) border-box;
  transition: all 0.5s ease;
  border: 2.5px solid transparent;
  color: #000;
  background-color: transparent;
  border-radius: 5px;
  font-size: 14px;
}
.popup-button1:hover {
  background: linear-gradient(to right, #196ae5, #196ae5) border-box;
  border: 3px solid transparent;
  color: #fff;
  transition: all 0.1s ease;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.login-button {
  width: 100px;
  color: #ffffff;
  background-color: #1565d8;
  font-size: 16px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 10px;
}

@media screen and (max-width: 912px) {
  .ppr-popup-content1 {
    position: relative;
    max-width: 100%;
    box-shadow: none;
  }
  .ppr-pop-content-image-container1 {
    display: none;
  }

  .google-captcha-container {
    margin-left: 25%;
  }

  .popup-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .ppr-close1 {
    color: white;
  }

  .popup-mbl-heading {
    display: flex;
    font-size: 24px;
    font-weight: bold !important;
    display: flex;
    align-self: center;
  }

  .ppr-request-call-back1 {
    font-size: 20px;
  }

  .ppr-pop-content-content-container1 {
    background-color: #508bf5;
    color: white;
    max-width: 80%;
    height: max-content;
  }

  .ppr-popup-input1-container {
    background-color: #508bf5;
    margin-bottom: 2%;
  }

  .login-button {
    width: 100px;
    color: #1565d8;
    background-color: white;
    font-size: 16px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-left: 3%;
  }
}

.ppr-message1 {
  font-size: 12px;
  color: #196ae5;
  margin: 0px;
}

.buttton-popupform-conatiner1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
