.faq-page-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.faq-banner-image {
  height: max-content;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  object-fit: cover;
}

.faq-page-mini-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.faq-page-tabs-unordered-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
  width: 20%;
}

.Faq-page-faqs-container {
  width: 60%;
}
